body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.tab-numeros-rifa {
    border-collapse: collapse;
}

.tab-numeros-rifa td {
    border: 1px solid rgb(0,0,0);
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column; /* Altera a direção para vertical */
    justify-content: center;
    align-items: center;

    /* Isso centraliza verticalmente */
    /*height: 100vh; */
}

#sortearBtn #resetarBtn{
    font-size: 20px; /* Altere o tamanho conforme necessário */
}
